<div class="grammar-form">
  <%= form_for :grammar do |f| %>
    <%= f.text_area :grammar, { class: 'form-control', value: @example_grammar } %>
    <%= f.submit 'Converter Gramática', {class: 'btn btn-lg btn-primary btn-block' } %>
  <% end %>
</div>
