<!doctype html>
<html>
  <head>
  </head>
  <body>
    <div class="container">
      <%= render 'header' %>
      <div class="row converter">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <div class="how-to">
            A notação aceita para a gramática de entrada obedece às regras:
            <ul>
              <li>
                Símbolos terminais: representados por letras minúsculas (<strong>a</strong> a <strong>z</strong>)
              </li>
              <li>
                Símbolos não terminais: representados por letras maiúsculas (<strong>A</strong> a <strong>Z</strong>)
              </li>
              <li>
                String vazia: representada pelo caractere underscore (<strong>_</strong>)
              </li>
              <li>
                Derivação: representada por <strong>-></strong>
              </li>
              <li>
                Agrupamento: representado pelo caractere pipe (<strong>|</strong>)
              </li>
              <li>
                O primeiro símbolo não terminal é considerado o símbolo de início da gramática.
              </li>
            </ul>
          </div>
          <%= render 'grammar_form' %>
        </div>
        <div class="col-md-2"></div>
      </div>
    </div>
  </body>
</html>
