<!doctype html>
<html>
  <head>
  </head>
  <body>
    <% if @results.present? %>
      <% @results.each_with_index do |r, idx| %>
        <h2>Etapa <%= idx -%></h2>
        <div><%= r.to_s.gsub(/\n/, '<br />').html_safe -%></div>
      <% end %>
    <% else %>
      <p><%= @errors %></p>
    <% end %>
  </body>
</html>
