/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import url(https://fonts.googleapis.com/css?family=Raleway:400|Lato:700|Source+Code+Pro);

body {
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

.header {
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}

.converter {
  padding-top: 40px;
}

.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

.how-to {
  font-size: 14pt;
  line-height: 30px;
}

.grammar-form {
  margin-top: 30px;
  padding: 10px;
}

#grammar_grammar {
  height: 300px;
}

textarea {
 font-family: 'Source Code Pro';
}

.transformation-name {
  height: 60px;
  margin: 20px 40px;
  font-family: 'Lato', sans-serif;
}

.transformation-content {
  padding-left: 40px;
  font-family: 'Source Code Pro';
}

.text-muted a {
  text-decoration: none;
}

.modal-body {
  margin: 40px 20px;
  font-size: 15pt;
}
